<nav>
  <ul>
    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >cero</a></li>
    <li><a [routerLink]="['/open-close']" routerLinkActive="router-link-active" >open-close</a></li>
    <li><a [routerLink]="['/status']" routerLinkActive="router-link-active" >status</a></li>
    <li><a [routerLink]="['/toggle']" routerLinkActive="router-link-active" >toggle</a></li>
    <li><a [routerLink]="['/heroes']" routerLinkActive="router-link-active" >heroes</a></li>
    <li><a [routerLink]="['/hero-groups']" routerLinkActive="router-link-active" >hero-groups</a></li>
    <li><a [routerLink]="['/enter-leave']" routerLinkActive="router-link-active" >enter-leave</a></li>
    <li><a [routerLink]="['/auto']" routerLinkActive="router-link-active" >auto</a></li>
    <li><a [routerLink]="['/insert-remove']" routerLinkActive="router-link-active" >insert-remove</a></li>
    <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >home</a></li>
    <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >about</a></li>
  </ul>
</nav>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
